body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0);
}

.login-body {
  background-color: rgba(0, 0, 0, 0);
}

.header-navigation {
  width: 60%;
  background-color: #fff;
  padding-top: 20px;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  display: inline-flex;
  padding: 0 30px;
  list-style-type: none;
}

.header-navigation li a {
  color: #333;
  text-decoration: none;
}

.mypage_edit_buttom {
  margin-top: 50px;
}

.post_photo {
  border-radius: 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

